

 <table>
    <thead>
        <th>Conta</th>
        <th>Valor</th>
        <th>Data</th>
    </thead>
    <tbody *ngIf="depositos.length > 0; else listaVazia">
        <tr *ngFor="let deposito of depositos">
            <td> {{deposito?.conta}} </td>
            <td>{{deposito?.valor}}</td>
            <td>{{deposito?.data}}</td>
        </tr>
    </tbody>
</table>

<ng-template #listaVazia>
    <p>Não há movimentação na conta...</p>
</ng-template>


<!-- <div *ngFor="let deposito of depositos" >

    <p>Conta: {{deposito?.conta}} </p>
    <p>Valor: R$ {{deposito?.valor}} </p>
    <p>Data:  {{deposito?.data}} </p>
</div>
 -->


