
<!--
<app-deposito (aoDepositar) = "depositar($event)" ></app-deposito>
<app-deposito></app-deposito>
 -->

<!-- <p>Conta: {{conta}} </p>
<p>Valor: {{valor}} </p> -->

<!-- <app-extrato [depositos] = "depositos" >  </app-extrato>
  <app-extrato></app-extrato>
-->

<router-outlet></router-outlet>
